.dashboard-navbar {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 48px;
  z-index: 2;
}

.dashboard-container-heading {
  color: #4b4b4b;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}

.dropdown-heading {
  color: #4b4b4b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.invite-member-btn {
  background: rgba(0, 150, 235, 1);
  border-radius: 16px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.search-member-input {
  display: flex;
  width: 335px;
  align-items: center;
  position: relative;
}

.search-member-input input {
  width: 100%;
  height: 30px;
  left: 303px;
  top: 304px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  outline: none;
  padding: 13px 30px;
}

.tab {
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #808080;
  padding: 1rem;
  border-bottom: 1px solid #cacccb;
}

.tab.tab-active {
  border-bottom: 3px solid rgba(0, 150, 235, 1);
  color: rgba(0, 150, 235, 1);
}

.search-member-input img {
  position: absolute;
  right: 10px;
}

.approve-btn {
  background-color: #eef6e9;
  font-family: "Poppins", sans-serif;
  'padding:5px5pxborder-radius:10pxfont-weight:600font-size:12pxline-height:16pxletter-spacing:0.02emtext-transform:uppercasefont-feature-settings:"cpsp"oncolor:#278500-webkit-border-radius:10px-moz-border-radius:10px-ms-border-radius:10px-o-border-radius:10px}.approve-btn.disabled:hover{cursor:not-allowed}.decline-btn{background-color:#eef6e9font-family:"Poppins",sans-serif'padding: 5px
    5px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2f4c5f;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
